#outcomesTableContainer {
    margin-top: 50px;
}

#outcomesTableContainer table {
    border-top: none;
    border-bottom: none;
    max-width: 100%;
}

#outcomesTableContainer .characterImgContainer {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#outcomesTableContainer tr td {
    padding: 10px;
    height: 70px;
}

#outcomesTableContainer tr th {
    padding: 10px;
    text-align: center;
}

#outcomesTableContainer tr td * {
    vertical-align: top;
}

#outcomesTableContainer .tmp {
    max-width: 200px;
}

#outcomesTableContainer .characterImgContainer img {
    width: 50px;
    cursor: pointer;
}

#outcomesTableContainer .name {
    text-align: left;

    display: inline-block;
    padding-left: 50px;
    font-size: 1.2em;
    line-height: 50px;
    font-weight: normal;

    cursor: pointer;
}

#outcomesTableContainer .episodes {
    width: 80px;
    text-align: center;
}

#outcomesTableContainer .tableHead {
    margin-top: 50px;
}

#outcomesTableContainer .plod {
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    font-family: 'Cinzel Decorative', cursive;
}

#outcomesTableContainer .tableRow:hover {
    background-color: #555;
}

@media (max-width: 1000px) {
    #outcomesTableContainer .plod {
        font-size: 1.1em;
        line-height: initial;
    }

    #outcomesTableContainer .name {
        padding-left: 10px;
        font-size: 1em;
        line-height: initial;
    }

    #outcomesTableContainer .hideOnSmall {
        display: none;
    }

    #outcomesTableContainer .characterImgContainer {
        width: 40px;
        height: 40px;
    }

    #outcomesTableContainer .characterImgContainer img {
        width: 40px;
    }

    #outcomesTableContainer .tableRow td {
        white-space: nowrap;
    }

    #outcomesTableContainer .tableRow .name {
        position: relative;
        top: calc(50% - 5px);
        transform: translateY(-50%);
        white-space: initial;
    }
}

@media (max-width: 780px) {
    #outcomesTableContainer .tableRow .name {
        font-size: 0.9em;
        max-width: 80px;
    }

    #outcomesTableContainer tr td {
        padding: 5px;
        height: 60px;
    }
    
    #outcomesTableContainer tr th {
        padding: 5px;
    }
}