#outcomesTableContainer {
    margin-top: 50px;
}

#outcomesTableContainer table {
    border-top: none;
    border-bottom: none;
    max-width: 100%;
}

.characterImgContainer {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

tr td {
    padding: 10px;
    height: 70px;
}

tr th {
    padding: 10px;
    text-align: center;
}

tr td * {
    vertical-align: top;
}

.tmp {
    max-width: 200px;
}

.characterImgContainer img {
    width: 50px;
    cursor: pointer;
}

.name {
    text-align: left;

    display: inline-block;
    padding-left: 50px;
    font-size: 1.2em;
    line-height: 50px;
    font-weight: normal;

    cursor: pointer;
}

.episodes {
    width: 80px;
    text-align: center;
}

.tableHead {
    margin-top: 50px;
}

.plod {
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    font-family: 'Cinzel Decorative', cursive;
}

.tableRow:hover {
    background-color: #555;
}

@media (max-width: 1000px) {
    .plod {
        font-size: 1.1em;
        line-height: initial;
    }

    .name {
        padding-left: 10px;
        font-size: 1em;
        line-height: initial;
    }

    .hideOnSmall {
        display: none;
    }

    .characterImgContainer {
        width: 40px;
        height: 40px;
    }

    .characterImgContainer img {
        width: 40px;
    }

    .tableRow td {
        white-space: nowrap;
    }

    .tableRow .name {
        position: relative;
        top: calc(50% - 5px);
        transform: translateY(-50%);
        white-space: initial;
    }
}

@media (max-width: 780px) {
    .tableRow .name {
        font-size: 0.9em;
        max-width: 80px;
    }

    tr td {
        padding: 5px;
        height: 60px;
    }
    
    tr th {
        padding: 5px;
    }
}