
.relatedCharactersContent {
    width: 100%;
    padding: 0;

    position: relative;
    text-align: center;
}

.relatedCharacter {
    padding: 10px;
    position: relative;
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    border-radius: 45px;

    cursor: pointer;
}

.relatedCharacter:hover {
    background: #353535;
    transition-duration: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    user-select: none;
}

.relatedCharacter .imageContainer {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: top;
    display: inline-block;
}

.relatedCharacter .imageContainer img {
    width: 70px;
}

.relatedCharacter .characterNameContainer {
    text-align: left;
    width: calc(100% - 70px);
    height: 70px;
    box-sizing: border-box;
    display: inline-block;
}

.relatedCharacter .characterName {
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    display: inline-block;
    top: 50%;
    vertical-align: top;
    transform: translateY(-50%);
}

@media (max-width: 700px) {
    .relatedCharacter .characterNameContainer {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 450px) {
    .relatedCharacter {
        width: calc(50% - 20px);
        margin: 0 10px;
        border-radius: 5px;
    }

    .relatedCharacter:hover {
        background: transparent;
        box-shadow: none;
        user-select: none;
    }
    

}

.relatedCharactersContent .react-slideshow-container + div.indicators > div {
    background: #333;
}


.relatedCharactersContent .react-slideshow-container + div.indicators .active {
    background: #ccc;
}